.top-bar {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .back-btn {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
    width: 8px;
  }
}
